<template>
    <div class="hello">Hello {{who}}</div>
</template>

<script>
import * as htv from './heatmapvis'

module.exports = {
    data: function() {
        return {
            who: 'world'
        }
    }
}
</script>

<style>
  .background {
    fill: none;
    stroke: #000;
    stroke-width: 5;
  }

  .feature {
    fill: #ccc;
    stroke: #fff;
    cursor: pointer;
  }

  .feature.active {
    fill: orange;
  }

  .bubble {
    stroke-width: .1px;
    stroke: rgba(250,250,250, 0.8);
    fill: rgba(217,91,67, 0.5);
  }

  .bubble:hover {
    fill: rgba(217,91,67, 0.8);
  }

  /* Style for Custom Tooltip */
  div.tooltip {
   	position: absolute;
  	text-align: center;
  	width: 180px;
  	height: 28px;
  	padding: 2px;
  	font: 12px sans-serif;
  	background: white;
  	border: 0px;
  	border-radius: 8px;
  }
</style>
